<?xml version="1.0" encoding="utf-8"?>
<manifest package="ar.recicl.reciclar"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- EXTERNAL_STORAGE permissions are optional for Android 6.0 onwards. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <permission
        android:name="com.example.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="com.example.permission.MAPS_RECEIVE"/>

    <application
        android:name=".application.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity
            android:name=".activity.Feed"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Welcome"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.Register"
            android:parentActivityName=".activity.Welcome"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.PasswordForgot"
            android:parentActivityName=".activity.Login"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.RegisterSuccess"/>
        <activity
            android:name=".activity.Login"
            android:parentActivityName=".activity.Welcome"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.Materials"
            android:label="@string/title_activity_materials"
            android:parentActivityName=".activity.Feed"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.RecyclingCenters"
            android:label="@string/title_activity_recycling_centers"
            android:parentActivityName=".activity.Materials"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.Map"
            android:label="@string/title_activity_map"
            android:parentActivityName=".activity.RecyclingCenters"/>
        <activity android:name=".activity.Shop"/>
        <activity
            android:name=".activity.Profile"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".activity.Feed"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.recicl.reciclar.activity.Feed"/>
        </activity>
    </application>

</manifest>
